@model Subscription

<h1>Yeni bir abonelik ekle</h1>

<hr>
<form asp-controller="Subscription" asp-action="Create" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="RenewalPeriod" class="form-label"></label>
        <input asp-for="RenewalPeriod" class="form-control">
        <span asp-validation-for="RenewalPeriod" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="RenewalDate" class="form-label"></label>
        <input asp-for="RenewalDate" type="date" class="form-control">
        <span asp-validation-for="RenewalDate" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-secondary">Kaydet</button>

</form>
