@{
    ViewData["Title"] = "Subsy - Aboneliklerini Takip Et";
}
<div class="text-center mt-5">
    <h1 class="display-4">Aboneliklerinizi Kontrol Altına Alın</h1>
    <p class="lead">Netflix, Spotify, Prime... Ne kadar harcıyorsunuz biliyor musunuz?</p>
    <a class="btn btn-primary btn-lg" asp-controller="Account" asp-action="Register">Hemen Başla</a>
</div>
