{
  "ConnectionStrings": {
    "DefaultConnection": "Data Source=subsy.db"
  },

  "Email": {
    "Host": "sandbox.smtp.mailtrap.io",
    "Port": 587,
    "From": "noreply@subsy.app",
    "Username": "YOUR_MAILTRAP_USERNAME",
    "Password": "YOUR_MAILTRAP_PASSWORD"
  },

  "Supabase": {
    "Url": "https://YOUR_PROJECT_ID.supabase.co",
    "ServiceKey": "YOUR_SUPABASE_SERVICE_ROLE_KEY",
    "BucketName": "profile-photos"
  }
}
